<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo Lists - Details</title>
    </head>
    <body>
        <main>
            <div>
                <h1>
                    <a href="{% url 'todo_list_detail' todo_object.id %}"></a>{{ todo_object.name }}
                </h1>
                <div>
                    <p>
                        <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
                    </p>
                    <p>
                        <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
                    </p>
                </div>
                <h2>Tasks</h2>
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                    {% for todo_item in todo_object.items.all %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_item_update' todo_item.id %}">{{ todo_item.task }}</a>
                            </td>
                            <td>{{ todo_item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>
{% comment %} Look at the foreign key for line 18. 'todo_object.items.all' {% endcomment %}
{% comment %} option to DELETE this to-do list! {% endcomment %}
