<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>
    </head>
    <body>
        <main>
            <div>
                <h1>My Lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url 'todo_item_create' %}">Create a new item</a>
                </p>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                    {% for todo_name in todo_list %}
                        <tr>
                            <td>
                                <a href="{% url 'todo_list_detail' todo_name.id %}">{{ todo_name.name }}</a>
                            </td>
                            <td>{{ todo_name.items.all|length }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>
{% comment %} When you look at the foreign key, make sure the names match! Same for ALL VARIABLES! {% endcomment %}
